html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}


#nav_top {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: rgba(255,255,255,0.1);
    z-index: 1;
}

#nav_top_title {
    position: absolute;    
    top: 0px;
    left: 0px;
    height: 60px;
    padding-left: 25px;
    line-height: 60px;
    color: white;
}

#nav_top_menu {
    position: absolute;    
    top: 0px;
    right: 60px;
    height: 60px;
    padding-right: 15px;        
}

.nav_top_menu_item {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    float: left;
    margin-left: 20px;
    line-height: 60px;
    color: white;
    cursor: pointer;
}

.nav_top_menu_item_selected {
    border-color: #FFFFFF;
    -webkit-transition: border-color 1s ease;
    -moz-transition: border-color 1s ease;
    -o-transition: border-color 1s ease;
    transition: border-color 1s ease;
}

#nav_right {
    position: fixed;    
    top: 0px;
    right: 0px;
    width: 60px;
    height: 100%;
    background-color: rgba(255,255,255,0.1);
    z-index: 2;
}

#nav_right_menu {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;    
    height: 300px;
    margin: auto;
}

.nav_right_menu_item {
    border-left: 1px solid rgba(255, 255, 255, 0);
    padding-top: 8px;
    width: 60px;
    height: 52px;
    color: white;
    cursor: pointer;
    -webkit-transition: border-color 0.5s ease;
    -moz-transition: border-color 0.5s ease;
    -o-transition: border-color 0.5s ease;
    transition: border-color 0.5s ease;
}

.nav_right_menu_item:hover {
    border-color: #FFFFFF;
}

.page_block {
    position: relative;
    left: 0px;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: #000020;
}

#email_field {
    position: absolute;
    color: white;
    top: 255px;
    right: -325px;
    z-index: 10;
}

#block_about {
    background: url(../img/lbg_topoftherock.JPG) no-repeat center center;
    background-size: 100%;
}

#block_skill {
    background: url(../img/lbg_mit.JPG) no-repeat center center; 
    background-size: 100%;   
}

#block_experience {
    background: url(../img/lbg_ntulibrary.jpg) no-repeat center center;
    background-size: 100%;   
}

#block_project {
    background: url(../img/lbg_okinawa.JPG) no-repeat center center;
    background-size: 100%;   
}

#block_publication {
    background: url(../img/lbg_boston.JPG) no-repeat center center;
    background-size: 100%;   
}

.filter {
    position: relative;
    left: 0px;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}

.center_text_block {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}

span {
    display: table-cell;
    vertical-align: middle;
}

.large_font {
    font-size: 40pt;
}

.medium_font {
    font-size: 12pt;
}

td {
    padding: 0 20px 10px 20px;
    vertical-align: top;
    max-width: 750px;
}

ul {
    padding: 0px;
    margin: 0px;
}

ul.indent_ul {
    margin-left: 10px;
    margin-bottom: 10px;
}

.project_block {
    padding: 0 5px 5px 5px;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.2);
    vertical-align: bottom;    
}

.project_block_text {
    font-size: 15pt;
}

a.button {
    font-size: 10pt;
    text-decoration: none;
    color: white;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border: 1px solid #FFFFFF;
    padding: 0px 10px 0px 10px;
}

a.button:hover {
    color: black;
    background-color: #FFFFFF;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.circle_button {    
    width: 40px;
    height: 40px;
    font-size: 14pt;
    line-height: 40px;
    text-align: center;
    color: white;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border: 1px solid #FFFFFF;
    margin-left: 10px
}

#github_icon{
    width: 42px;
    height: 42px;
    margin-left: 10px;
    background: url(../img/github_icon.png) no-repeat center center;
    background-size: 100%;
}

#linkedin_icon{
    width: 42px;
    height: 42px;
    margin-left: 10px;
    background: url(../img/linkedin_icon.png) no-repeat center center;
    background-size: 100%;
}

#mail_icon{
    width: 42px;
    height: 42px;
    margin-left: 10px;
    background: url(../img/mail_icon.png) no-repeat center center;
    background-size: 100%;
}

.right_a {
    text-decoration: none;
}

.project_img {
    width: 150px;
    vertical-align: middle;
}

.project_image_frame {
    line-height: 150px;
}